
@{
    ViewBag.Title = "SurveyResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models
@model Dictionary<string,int>

<h2 class="surveyResultTitle">Park Votes</h2>
<table align="center" class="resultTable">
    <thead class="heading">
        <tr class="resultRow">
            <td> Park Name</td>
            <td> Number of Votes</td>
        </tr>
    </thead>
    <tbody>

        @foreach (KeyValuePair<string, int> kvp in Model)
        {
            <tr class="resultRow">
                <td> @kvp.Key </td>
                <td> @kvp.Value</td>                
             </tr>        
        }
    </tbody>
</table>
