body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
}

footer {
    background-color: black;
}


header {
    background-color: #808080;
    padding: 10px;
}

    header p {
        color: white;
        font-weight: bold;
    }


nav {
    background-color: #1FC909;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-color: #5E3B04;
}

    nav ul {
        list-style: none;
    }

        nav ul li {
            list-style: none;
            display: inline-block;
        }

            nav ul li a {
                padding: 8px 15px;
                border-right: 1px solid #ccc;
                border-color: #5E3B04;
                color: #5E3B04;
                text-decoration: none;
                font-weight: bold;
            }

                nav ul li a:hover {
                    text-decoration: underline;
                    color: #c00;
                }


#main {
    clear: both;
    display: block;
    width: 90%;
    margin: 20px auto;
    vertical-align: top;
    min-height: 450px;
    background-color: lightblue;
    border-radius: 7px;
}


    /* Form Layout */

    #main h2 {
        text-align: center;
        font-size: xx-large;
    }

input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=tel] {
    width: 140px;
}

#main form,
section.result {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 25%;
}

.entirePark {
    display: inline-flex;
    margin: 1%;
}

.parkImage {
    margin-right: 1%;
}

.parkName {
    font-weight: bold;
}

    .parkName a {
        color: black;
    }

.parkDescription {
    width: 60%;
}

.textTitle {
    color: darkred;
    font-weight: bold;
}

p {
    margin: 0px;
    padding: 0px;
}

.entireparkdetail {
    margin-left: 1%;
}

.quote {
    color: slategrey;
    font-weight: bold;
}

.imgdiv {
}

.weather {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}

.weatherImage {
    max-width: 35%;
}

.weatherTitle {
    text-align: center;
}

.singleDayForecast {
    margin: 1%;
    width: 50%;
    border: solid;
    padding: 1%;
}

.dayOfWeek {
    font-weight: bold;
}

.condition {
    font-weight: bold;
}

.advisory {
    font-style: italic;
    word-break: break-all;
}

table {
    border-collapse: collapse;
    width: 30%;
}

td {
    text-align: left;
    padding: 8px;
}

.heading {
    background-color: #1FC909;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}

.newSurveyTable {
    width: auto;
}

.resultTable, .resultRow {
    border: solid;
    border-color: black;
    width: 40%;
}